{{ form_start(form) }}
    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route') == 'app_admin_artwork_edit' %}
        <h2>Images</h2>
        {% for image in artwork.images %}
            <div>
                <img src="{{asset('build/images/' ~ image.name)}}" alt="" width="150">
                <a href="{{ path('app_admin_artwork_delete_image', {'id': image.id}) }}">Delete</a>
            </div>
        {% endfor %}
    {% endif %}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
